<h1 text-id="user_title">{{user_title}}</h1>

<a class="btn btn-primary" href="#controller=usuarios&action=add" text-id="user_add_button">{{user_add_button}}</a>
<a class="btn btn-primary" href="#controller=usuarios&action=searchForm" text-id="user_search_button">{{user_search_button}}</a>

<div id="errorDiv"></div>

<table id="usuariosTable" class="table">
    <tr>
        <th text-id="user_login">{{user_login}}</th>
        <th text-id="user_name">{{user_name}}</th>
        <th text-id="user_surname">{{user_surname}}</th>
        <th text-id="user_email">{{user_email}}</th>
    </tr>
</table>