<h1 text-id="evaluacion_add_title">{{evaluacion_add_title}}</h1>

<div id="errorDiv"></div>

<div id="evaluacionTable">
<form onsubmit="onSubmitAdd(); return false" name="addForm">

    <div class="form-group">
<label for="entregaInput" text-id="evaluacion_entrega">{{evaluacion_entrega}}</label>
<select class="form-control" id="entregaSelect" name="entrega">

</select>
    </div>

    <div class="form-group">
<label for="loginEvaluadorInput" text-id="evaluacion_loginEvaluador">{{evaluacion_loginEvaluador}}</label>
<select class="form-control" id="loginEvaluadorSelect" name="loginEvaluador">

</select>
    </div>

    <div class="form-group">
<input class="form-control btn btn-primary" type="submit" text-value="evaluacion_add_submit" value="{{evaluacion_add_submit}}" />
    </div>
</form>
</div>