<h1 text-id="evaluaciones_list_title">{{evaluaciones_list_title}}</h1>

<div id="errorDiv"></div>

<a user-role="profesor" href="#controller=evaluaciones&action=add" class="btn btn-primary" text-id="evaluaciones_add">{{evaluaciones_add}}</a>
<a href="#controller=evaluaciones&action=searchForm" class="btn btn-primary" text-id="evaluaciones_search">{{evaluaciones_search}}</a>

<table id="evaluacionesTable" class="table">
    <tr>
        <th text-id="evaluaciones_l_identrega">{{evaluaciones_l_identrega}}</th>
        <th text-id="evaluaciones_l_aliasautor">{{evaluaciones_l_aliasautor}}</th>
        <th text-id="evaluaciones_l_loginEvaluador">{{evaluaciones_l_loginEvaluador}}</th>
    </tr>
</table>

