<h1 text-id="entregausuario_search_title">{{entregausuario_search_title}}</h1>

<a class="btn btn-primary" href="#controller=entregausuario&action=add" text-id="entregausuario_l_add">{{entregausuario_l_add}}</a>
<a class="btn btn-primary" href="#controller=entregausuario&action=searchForm" text-id="entregausuario_l_search">{{entregausuario_l_search}}</a>

<div id="errorDiv"></div>

<table id="entregausuarioTable" class="table">
    <tr>
        <th text-id="entregausuario_l_login">{{entregausuario_l_login}}</th>
        <th text-id="entregausuario_l_identrega">{{entregausuario_l_identrega}}</th>
        <th text-id="entregausuario_l_link">{{entregausuario_l_link}}</th>
    </tr>
</table>
