<h1 text-id="entregausuario_search_title">{{entregausuario_search_title}}</h1>

<div id="errorDiv"></div>

<div id="entregausuarioTable">
<form onsubmit="onSubmitSearchForm(); return false" name="searchForm">

    <div class="form-group">
<label for="loginInput" text-id="entregausuario_login">{{entregausuario_login}}</label>
<input class="form-control" type="text" name="login" id="loginInput"/>
    </div>

    <div class="form-group">
<label for="IdEntregaInput" text-id="entregausuario_identrega">{{entregausuario_identrega}}</label>
<input class="form-control" type="text" name="IdEntrega" id="IdEntregaInput" />
    </div>

<input class="btn btn-primary" type="submit" text-value="entregausuario_search_submit" value="{{entregausuario_search_submit}}" />
</form>
</div>