<h1 text-id="entrega_list_title">{{entrega_list_title}}</h1>

<a class="btn btn-primary" href="#controller=entregas&action=add" text-id="entrega_l_add">{{entrega_l_add}}</a>
<a class="btn btn-primary" href="#controller=entregas&action=searchForm" text-id="entrega_l_search">{{entrega_l_search}}</a>

<div id="errorDiv"></div>

<table id="entregasTable" class="table">
    <tr>
        <th text-id="entrega_l_id">{{entrega_l_id}}</th>
        <th text-id="entrega_l_name">{{entrega_l_name}}</th>
        <th text-id="entrega_l_from">{{entrega_l_from}}</th>
        <th text-id="entrega_l_to">{{entrega_l_to}}</th>
        <th text-id="entrega_l_to_corr">{{entrega_l_to_corr}}</th>
    </tr>
</table>